<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Timothy Malisart | Accueil</title>

<!-- This template was created by Mantis-a [http://www.mantisa.cz/]. For more templates visit Free website templates [http://www.mantisatemplates.com/]. -->

<!-- CSS -->
<link rel="stylesheet" href="/style.css" type="text/css" media="screen, projection, tv" />

</head>

<body>
<div id="wrapper">

    <!-- Header -->
    <div id="header">

      <!-- Your website name  -->
      <h1><a href="/">timothy.malisart.be</a></h1>
      <!-- Your website name end -->

      <!-- Your slogan -->
      <h2>Page personnelle</h2>
      <!-- Your slogan end -->

      <div id="header-arrow"></div>
    </div>
    <!-- Header end -->

    <!-- Menu -->
    <a href="#skip-menu" class="hidden">Skip menu</a>

                <ul id="menu" class="cleaning-box">

<li class="first"><a href="/">Accueil</a></li>
<li><a href="/thetimvid.html">The Timvid</a></li>
<li><a href="http://sonorisation.malisart.be/">Sonorisation</a></li>
<li><a href="https://www.dropbox.com/s/8zxfikmq8kpj9az/Timothy%20Malisart%20%E2%80%93%20CV%202013.pdf">Curriculum Vitae</a></li>
</ul>

    <!-- Menu end -->

<hr class="noscreen" />

  <div id="content-box">
    <div id="content-box-in">

      <a name="skip-menu"></a>
      <!-- Content left -->
      <div class="content-box-left">
        <div class="content-box-left-in">
          <h1 style="color:#000;">{{ page.title }}</h1>
          {{ content }}
        </div>
      </div>
      <!-- Content left end -->

      <hr class="noscreen" />

      <!-- Content right -->
      <div class="content-box-right">
<div class="content-box-right-in">

<h4>Contact</h4>

<address>
Email: <a href="mailto:timothy@malisart.be">timothy@malisart.be</a><br />
Tél.: 0 (032) 496 342044<br />

<a href="http://www.facebook.com/timothy.malisart"><img src="https://lh4.googleusercontent.com/-E17PkzbFyMo/Tkg59OAD6BI/AAAAAAAAObQ/bhzahVzaQ-M/facebook_logo.png" width="80"/></a>

<a href="https://plus.google.com/116520486672750724536/about"><img src="https://lh4.googleusercontent.com/-VSlKa3VlIx4/Tkg582QAIwI/AAAAAAAAObM/moKi1oDx86c/Googlepluslogo.png" width="80"/></a> <br />
</address>

<a href="http://sonorisation.malisart.be/"><img src="https://lh6.googleusercontent.com/-GR2sy1mQ9Cs/T3z1mmxgM8I/AAAAAAAAOjA/N54or7AXPqI/s454/logo+sonorisation.malisartpetit.png"  height="80" width="80" /></a>
<a href="http://timothy.malisart.be/thetimvid"><img src="https://lh5.googleusercontent.com/-3s95fDGNWKw/TkbwI5Tr8uI/AAAAAAAAOZ8/KPUsDlt5PYQ/s512/Thetimvidlogoblack.png"  height="80" width="80" /></a>
</div>

<div id="column-right-bottom">&nbsp;</div>

</div>

<!-- Content right end -->
<div class="cleaner">&nbsp;</div>
    </div>
  </div>

<hr class="noscreen" />

  <!-- Footer -->
  <div id="footer">
    <p class="left">&copy; Timothy Malisart</p>
  </div>
  <!-- Footer end -->
</div>

</body>
</html>
